<div class=" sidebar" role="navigation">
    <div class="navbar-collapse">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="index.html" class="active"><i class="fa fa-home nav_icon"></i>Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>项目管理 <span class="nav-badge">12</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/admin/projects/view/dash" target="mainIframe">发布台</a>
                        </li>
                        <li>
                            <a href="/admin/projects/view/record" target="mainIframe">项目列表</a>
                        </li>
                    </ul>
                    <!-- /nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>发布管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/admin/deploy/record" target="mainIframe">发布记录</a>
                        </li>
                        <li>
                            <a href="/admin/deploy/view/form" target="mainIframe">发布配置</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>内容管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/admin/content/categories/view" target="mainIframe">内容分类</a>
                        </li>
                        <li>
                            <a href="/admin/content/article/view" target="mainIframe">文章列表</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>业务对接<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/admin/business/connection/view" target="mainIframe">模块配置</a>
                        </li>
                    </ul>
                    <!-- /nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>配置管理 <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/admin/config/dict/view/record" target="mainIframe">字典管理</a>
                        </li>
                        <li>
                            <a href="/admin/config/form/view/record" target="mainIframe">表单管理</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>权限管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="a" target="mainIframe">菜单配置</a>
                        </li>
                        <li>
                            <a href="a" target="mainIframe">角色设定</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>媒体库<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="a" target="mainIframe">常规配置</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>系统设置<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="a" target="mainIframe">常规配置</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-book nav_icon"></i>主题 <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="#">主题设置<span class="nav-badge-btm" target="mainIframe">08</span></a>
                        </li>
                        <li>
                            <a href="#" target="mainIframe">Typography</a>
                        </li>
                    </ul>
                </li>
               
            </ul>
        </nav>
    </div>
</div>