<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <!-- 引入Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.staticfile.net/twitter-bootstrap/5.1.1/css/bootstrap.min.css"
    />
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <!--  -->
                       出现错误了.....
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> <%= err %></h5>
                        <p class="card-text">The link may be broken, or the page may have been removed.</p>
                        <a href="javascript:history.back()">返回到上一级</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <!-- 引入Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
</body>
</html>